<h1>
    Courses
</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>courseDuration</th>
        <th>courseFees</th>
    </tr>
    {{#each data}}
        <tr>
            <td>{{this.courseId}}</td>
            <td>{{this.courseName}}</td>
            <td>{{this.courseDuration}}</td>
            <td>{{this.courseFees}}</td>
        </tr>
    {{/each}}
</table>